<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <menu class="breadcrumb">
        {{#breadcrumbs}}
            <li class="breadcrumb-item">
                <a href="{{key}}">{{value}}</a>
            </li>
        {{/breadcrumbs}}
    </menu>
</nav>